<!-- Button trigger modal -->

  <!-- Modal -->
  <div class="modal fade" id="detailpenggunaModal{{row[0]}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title fs-5" id="exampleModalLabel">Detail : {{row[1]}}</h3>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <dl class="row">
            <dt class="col-sm-3">Username </dt>
            <dd class="col-sm-9">{{row[1]}}</dd>
          
            <dt class="col-sm-3">E-Mail</dt>
            <dd class="col-sm-9">{{row[2]|safe}}</dd>
          
            <dt class="col-sm-3">Nama</dt>
            <dd class="col-sm-9">{{row[4]|safe}}</dd>

            <dt class="col-sm-3">Aktor</dt>
            <dd class="col-sm-9">{% if row[5] == '1' %}Admin {% else %}Pengguna {% endif %}</dd>
          
            
          </dl>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>