<!-- Button trigger modal -->

  <!-- Modal -->
  <div class="modal fade" id="detailpenggunaModal{{row[0]}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title fs-5" id="exampleModalLabel">Detail : {{row[1]}}</h3>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <pre>
          Username  : {{row[1]}}
          E-Mail    : {{row[2]}}
          Nama      : {{row[4]}}
          Aktor     : {% if row[5] == '1' %}Admin {% else %}Pengguna {% endif %}
        </pre>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>