<!-- Button trigger modal -->

  <!-- Modal -->
  <div class="modal fade" id="addpenggunaModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title fs-5" id="exampleModalLabel">Tambah Pengguna</h3>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <h5>Masukkan data Admin yang ingin anda tambah</h5>
            <form method="post" action="{{url_for('add_pengguna')}}">
                    <div class="row justify-content-center">
                      <div class="col  text-center">
                        <div class="form-group">
                          <input name="email" id="email" type="email" class="form-control" placeholder="Masukkan E-Mail" required>
                        </div>
                      </div>
                    </div>
                    
                    <div class="row justify-content-center">
                      <div class="col  text-center">
                        <div class="form-group">
                          <input name="username" id="username" type="text" class="form-control" placeholder="Masukkan Username" required>
                        </div>
                      </div>
                    </div>
                    <div class="row justify-content-center">
                      <div class="col  text-center">
                        <div class="form-group">
                          <input name="password" id="password" type="password" class="form-control" placeholder="Masukkan Password" required>
                        </div>
                      </div>
                    </div>
                    
                    <div class="row justify-content-center">
                      <div class="col  text-center">
                        <div class="form-group">
                          <input name="name" id="name" type="text" class="form-control" placeholder="Masukkan Nama" required>
                        </div>
                      </div>
                    </div>
          
                    <div class="row justify-content-center">
                      <div class="col  text-center">
                          <div class="form-group" style="display: none;">
                              <input name="actor" id="actor" type="hidden" value="1">
                          </div>
                      </div>
                  </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" onclick="confirm('Anda Yakin?')">Tambah</button>
        </div>
    </form>
      </div>
    </div>
  </div>